* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #121212;
  color: #ffffff;
  font-size: 28px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 24px;
}

.app-wrapper {
  margin: 0 auto;
  max-width: 960px;
}
